<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static/js/script.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="wrap">
    <a>you can input the code to build the template you want</a><br/><br/>
   <div class="search">
      <input type="text" class="searchTerm" placeholder="Input the code to build the template" id="code">
      <input type="submit" class="searchButton" onclick="submit()" value="→">
        <i class="fa fa-search"></i>
     </input>
   </div>
    <code id="result"></code>
</div>
</body>
</html>